*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-around;
}

nav ul li{
  display: inline;
  list-style: none;
  text-align: center;
  margin: 5px;
}

a{
  text-decoration: none;
  color: #FFF;
}

h1{
  font-size: 49px;
}

img{
  max-width: 100%;
}

p{
  margin-top: 30px;
  font-size: 17px;
  word-spacing: 1px;
  line-height: 25px;
}


.login{
background-color: #ffffff;
width: 70px;
height: 30px;
border-radius: 50px;
border-color: #FFF;
}

.scarica{
  background-color: #ffffff;
  width: 150px;
  height: 35px;
  border-radius: 50px;
  border-color: #FFF;
  margin-top: 20px;
}

.apri-discord{
  background-color: black;
  width: 210px;
  height: 35px;
  border-radius: 50px;
  color: white;
  border-color: black;
}

.topbar .container{
  justify-content: space-between;
  align-items: center;
  height:100px;
  
}

.topbar .menu{
  width: 50%;
}

.container{
  width: 100%;
  background-image: url(/img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  
}

.testo{
  height: 460px;
  width: 650px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

/* MAIN */

main section{
  padding: 150px;
  height: 900px;
}

.luogo{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.container-base{
  display: flex;
  height: 500px;
  width: 1000px;
}

.luogo .container-base .box-image{
  width: 65%;
  background-color: #ffffff;
}

.luogo .container-base .box-text{
  width: 35%;
  font-size: 25px;
  margin-top: 40px;
}

.dove{
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.dove .container-base .box-image{
  width: 65%;
}

.dove .container-base .box-text{
  width: 35%;
  font-size: 25px;
  margin-top: 40px;
}

.tecnologia{
  display: flex;
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.container-base-tecno{
  text-align: center;
  height: 90%;
  width: 1000px;
}

.text-title{
  font-size: 40px;
}

.cta-base{
  background-image: url(/img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 100px;
  margin-left: 270px;
  margin-top: 60px;
}

.scarica-cta{
  background-color: #7289DB;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border-color: #7289DB;
  margin-top: 30px;
  color: #FFF;
}

/* footer */

.sezione-footer{
  background-color:#23272A;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-bottom: 1px solid white;
}

.italia{
  width: 20px;
  height: 15px;
  vertical-align: middle;
}

.social{
  display: flex;
  color: #FFF;
  justify-content:space-around;
  margin-right: 130px;
  margin-top: 20px;
  font-size: 20px;
}

.white{
  color: #FFF;
}

.sezione-footer .container-base-footer{
  height: 80%;
  width: 1000px;
}

.container-base-footer .box-social{
  width: 30%;
  font-size: 25px;
  color: #7289DB;
}

.lilla{
  color: #7289DB;
}

ul li{
  list-style: none;
  line-height: 28px;
}

.container-base-footer .info-box{
  width: 17.5%;
}

.footer-bottom{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #23272A;
  height: 120px;
}

.container-base-footer-bottom{
  height: 80%;
  width: 1000px;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
}

.bottone{
  background-color: #7289DB;
  width: 100px;
  height: 35px;
  border-radius: 50px;
  border-color:  #7289DB;
  margin-top: 20px;
  color: #FFF;
  margin-top: 2px;
}

.d-flex{
  display: flex;
}